@{
    ViewBag.Title = "CreateProblem";
    Layout = "~/Views/Problem/Layouts/_ProblemCreateLayout.cshtml";
}

<form id="post-form" class="post-form" action="/problem/create" method="post">

    Title
    <input  id="title" name="title" type="text" 
            maxlength="300" tabindex="100" data-min-length="15" data-max-length="150" 
            autocomplete="off" style="opacity: 0.4; z-index: 1; position: relative;" /> <br />

    Question Content: <br />
    <textarea   id="wmd-input" class="wmd-input processed" name="content" 
                cols="92" rows="15" tabindex="101" data-min-length="">
    </textarea> <br />

    Tags: <br />
    <input type="text" name="Tag" tabindex="103" style="width: 658px;">

    <input type="submit" value="Post"/>

</form>

@section RightPanel
{
    @Html.Action("ProblemPostGuide", new { controller = "CommonWidget" })
}
