<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MathHubModelContainer" connectionString="metadata=res://*/Entity.MathHubModel.csdl|res://*/Entity.MathHubModel.ssdl|res://*/Entity.MathHubModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TrungDQSE60994;initial catalog=MathHubDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>