@model dynamic

@{
    Layout = null;
}

Guide to post:
<ul>
    <li><a href="http://google.com" target="_blank">Search</a> before you ask</li>
    <li>Keep the story short</li>
    <li>Name your title right</li>
</ul>