@using MathHub.Entity.Entity
@model ICollection<Blog>
@{
    Layout = null;
}
<h2>New Blogs</h2>
@*@foreach(Blog blog in Model)
{
    @Html.ActionLink(blog.Title,
                 "Detail", new {controller = "Blog", id = blog.Id})<br/>
}*@

@foreach(Blog blog in Model)
{
    <p>@blog.Title</p>
}