@model MathHub.Web.Models.ProblemVM.DetailProblemVM

<h3>Problem @Model.Id</h3>
This is a partial content (problem detail and comments)

<h3>Comments</h3>
@{
    for (int i = 1; i <= 10; ++i )
    {
        @Html.Partial("Partials/_CommentItem", i);
    }
}